body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.3rem;
  font-weight: 400;
}

div {
  background-color: rgba(122,190,146,.1);
  border: 1px solid rgba(122,190,146,.1);
  color: rgba(122,190,146,.65);
}

code {
  font-family: "Source Code Pro", monospace;
  font-size: 0.75rem;
}