body {
  font-family: Menlo, monospace, sans-serif;
  line-height: 1.3rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

div {
  background-color: rgba(63, 157, 255, 0.25);
  border: 1px solid rgba(63, 157, 255, 0.25);
  color: #fff;
}

pre {
  font-family: Menlo, monospace;
  font-size: 1rem;
  line-height: 1.5;
}


// colors
.navy-light {
  color: lighten(rgb(0,31,63), 50%);
}

.bg-navy-light {
  // background-color: lighten(rgb(0,31,63), 85%);
  background-image: linear-gradient(to bottom, lighten(rgb(0,31,63), 85%), #fff)
}

.bg-dark {
  background-color: rgba(0,0,0,0.025);
}

.Demo {
  p {
    font-size: 0.875rem;
    line-height: 1.4;
  }
}

article {
  border-top: 1px solid lighten(rgb(0,31,63), 80%);

  > section {
    border-bottom: 1px solid lighten(rgb(0,31,63), 80%);
  }
}
